<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <h2 class="text-center">Change settings on PI</h2>
      <div class="input-group">
        <input type="text" formControlName="sentInterval" class="form-control" placeholder="Send Interval value"  [ngClass]="{ 'is-invalid': submitted && f.sentInterval.errors }" />
        <div *ngIf="submitted && f.sentInterval.errors" class="invalid-feedback">
          <div *ngIf="f.sentInterval.errors.required">Value is required</div>
        </div>
      </div>
      <div class="input-group">
        <input type="text" formControlName="readInterval" class="form-control" placeholder="Read Interval value"  [ngClass]="{ 'is-invalid': submitted && f.readInterval.errors }" />
        <div *ngIf="submitted && f.readInterval.errors" class="invalid-feedback">
          <div *ngIf="f.readInterval.errors.required">Value is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <button [disabled]="loading" type="submit" class="btn btn-success btn-block login-btn">Change</button>
      </div>
    </div>
  </form>
</div>
